extends ../layouts/main.pug

block globals
  - const title = "About Regular Chopper Blog"

block content
  h1#header= title

  p.intro-text.second-class(data-attr="my value") Please Pile Various Edible Items On To A Vast Dough Circle
